<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="PrintBilling Agent"
    Language="1046"
    Version="$(var.Version)"
    Manufacturer="PrintBilling"
    UpgradeCode="F81241B7-655A-4B33-8EC2-23FE3C1C7E51"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="Uma versao mais nova do PrintBilling Agent ja esta instalada." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="APIURL" Secure="yes" />
    <Property Id="AGENTUSER" Secure="yes" Value="agent" />
    <Property Id="AGENTPASSWORD" Secure="yes" Hidden="yes" />
    <Property Id="ORGANIZATION" Secure="yes" Value="default" />
    <Property Id="DEFAULTUSERNAME" Secure="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="PrintBillingAgentBootstrap">
        <Component Id="BootstrapMarker" Guid="B3B00A6C-58C3-4DD1-9FE7-AFA0E528A0B5">
          <RegistryValue Root="HKLM" Key="Software\PrintBillingAgent" Name="MsiBootstrapInstalled" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Binary Id="AgentInstallerExe" SourceFile="$(var.InstallerExe)" />
    <CustomAction
      Id="RunAgentInstaller"
      BinaryRef="AgentInstallerExe"
      ExeCommand="--silent --api-url &quot;[APIURL]&quot; --username &quot;[AGENTUSER]&quot; --password &quot;[AGENTPASSWORD]&quot; --organization &quot;[ORGANIZATION]&quot; --default-username &quot;[DEFAULTUSERNAME]&quot;"
      Execute="deferred"
      Return="check"
      Impersonate="no" />

    <Feature Id="MainFeature" Title="PrintBilling Agent" Level="1">
      <ComponentRef Id="BootstrapMarker" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="RunAgentInstaller" After="InstallFiles" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Package>
</Wix>
